.karel-button {
  background: green;
  color: white;
  user-select: none;
  cursor: pointer;
  min-width: 80px;
  height: 30px;
  margin: 0 6px;
  border-radius: 6px;
  border: none;
  font-size: 0.9em;
  opacity: 0.72;
  transition: opacity 250ms;
}

.karel-button:hover {
  opacity: 1;
}
.task-card,
.add-card {
  width: 300px;
  height: 220px;
  padding: 8px;
  border-radius: 16px;
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);
  /* prevent any text selection */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  margin: 16px;
}